@keyframes spin {
    0% {
        transform:  translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg); 
    }
}

.spinner {
    width: 4rem; 
    height: 4rem; 
    left: 50%; 
    top: 50%; 
    position: absolute; 
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}